.Home {
    margin: 0 auto;
}

button:focus {
    outline: none
}

body {
    /* background: #f2f2f2; */
    font-family: 'Open Sans', sans-serif;
}

.search {
    margin: 20px auto;
}

@media (max-width: 600px) {
    .ReactModal__Content.ReactModal__Content--after-open {
        left: 10px !important;
        right: 10px !important;
        padding: 5px !important;
    }
    .form-room {
        margin-top: 20px;
    }
    .form-room input {
        width: 98%;
    }
}