.plyr--audio .plyr__controls {
    background-color: transparent;
    border: none;
    /* color: #fff; */
    padding: 10px 0;
    margin: 0 auto;
    width: 90%;
}
.isopa {
    opacity: 0;
}

@media (max-width: 600px) {
    .plyr--audio .plyr__controls {
        width: 100%;
    }
      /*from*/

.form-psw span {
    display: block;
}

.form-psw input {
    width: 98%;
}
.form-psw p {
    display: block;
    margin: 5px 0;
}
}