.title {
    font-size: 40px;
    text-align: center;
}
.search-box {
    width: 100%;
    max-width: 1000px;
    /* display: flex; */
    margin: 0 auto;
    margin-top: 14px;
    height: 42px;
}
.songlist {
  position: relative;
  width: 70%;
  float: left;
}
/* .list {
  position: relative;
  top: -2px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  padding: 0;
  margin: 0;
  font-size: 24px;
}
.list li {
  list-style-type:none;
  height: 32px;
  line-height: 32px;
  padding-left: 10px;
} */
.list {
  max-width: 1000px;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 10px auto;
  font-size: 24px;
}
.list li {
  /* width: 100%; */
  word-break:keep-all;
  overflow: hidden;
  white-space: nowrap;
  list-style-type:none;
  height: 36px;
  line-height: 36px;
  padding-left: 10px;
} 
.list li:hover {
  background-color: #ccc;
  cursor: pointer;
}
.name-input {
    /* flex: 2; */
    width: 70%;
    float: left;
    /* width: 100%; */
    color: #777;
    border: none;
    border-bottom: 2px solid #777;
    border-radius: 0;
    height: 30px;
    line-height: 30px;
    outline: none;
    font-size: 26px;
    text-align: center;
}

.submit {
    width: 25%;
    float: right;
  
    /* flex: 1; */
    /* margin-left: 10px; */
    height: 30px;
    line-height: 30px;
    font-size: 26px;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
}
.play-info {
    font-size: 24px;
    color: #666;
    text-align: center;
    margin: 0;
    
}
.tip {
    font-size: 24px;
    text-align: center;
    color: #666;
    margin: 10px 0;
}
audio {
    opacity: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.user {
    text-align: center;
    font-size: 14px;
    color: #555;
}